@charset "UTF-8";

/* ********************************************
// --- リセット ---
// ※ブラウザのデフォルトCSSをリセット
// ***************************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  font-size: 16px;
} */

body {
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

header,
footer,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 変数 */
:root {
  --shadow-main-nav : rgb(98, 92, 92);
  --shadow-nav-width: 3px;
  --shadow-color: #a4652e;
  --shadow-width: 5px;
  /* --main-shadow-color: #110F0E; */
  --main-shadow-color: #4d2c0d;
  --main-shadow-width: 1px;
}

/* ************************
// ----header----
************************ */
header img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.parallax-bg-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.img-bg-00 {
  background-image: url("img/main.jpg");
}

.header-container {
  position: relative;
}

header nav {
  position: absolute;
  right: 30px;
  top: 22px;
}

header ul {
  display: flex;
}

header li {
  margin-left: 30px;
  color: white;
  font-size: .9em;

  text-shadow: 
  3px 3px var(--shadow-nav-width) var(--shadow-main-nav), 
  -3px -3px var(--shadow-nav-width)var(--shadow-main-nav),
  -3px 3px var(--shadow-nav-width)var(--shadow-main-nav), 
  3px -3px var(--shadow-nav-width) var(--shadow-main-nav),
  3px 0px var(--shadow-nav-width) var(--shadow-main-nav), 
  -3px -0px var(--shadow-nav-width) var(--shadow-main-nav),
  0px 3px var(--shadow-nav-width) var(--shadow-main-nav), 
  0px -3px var(--shadow-nav-width) var(--shadow-main-nav);
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 7em;
  transform: translate(-50%, -50%);

  text-shadow:
  3px 3px var(--main-shadow-width)  var(--main-shadow-color), 
  -3px -3px var(--main-shadow-width) var(--main-shadow-color),
  -3px 3px var(--main-shadow-width)  var(--main-shadow-color), 
  3px -3px var(--main-shadow-width)  var(--main-shadow-color),
  3px 0px var(--main-shadow-width)  var(--main-shadow-color), 
  -3px -0px var(--main-shadow-width)  var(--main-shadow-color),
  0px 3px var(--main-shadow-width)  var(--main-shadow-color), 
  0px -3px var(--main-shadow-width)  var(--main-shadow-color);
}



/* ************************
// ----main----
************************ */
/* .section-img-wrapper img {
  object-fit: cover;
} */

/* .section-img-wrapper {
  position: relative;
  margin-top: 16px;
  margin-bottom: 80px;
} */

/* .section-img-wrapper h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4.5em;
  letter-spacing: 2px; */

  /* 
    text-shadow：要素 {text-shadow: 水平方向 垂直方向 ぼかす半径 色};
    black 1px 1px 0, black -1px -1px 0,       右下、左上
    black -1px 1px 0, black 1px -1px 0,      右上、左下
    black 0px 1px 0, black  0-1px 0,         右、左
    black -1px 0 0, black 1px 0 0;           上、下 
  */

  /* text-shadow:
    3px 3px var(--shadow-width)  var(--shadow-color), 
    -3px -3px var(--shadow-width) var(--shadow-color),
    -3px 3px var(--shadow-width)  var(--shadow-color), 
    3px -3px var(--shadow-width)  var(--shadow-color),
    3px 0px var(--shadow-width)  var(--shadow-color), 
    -3px -0px var(--shadow-width)  var(--shadow-color),
    0px 3px var(--shadow-width)  var(--shadow-color), 
    0px -3px var(--shadow-width)  var(--shadow-color);
} */

.parallax-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 50vh; */
  height: 300px;
  margin-bottom: 80px;
}

.img-bg-01 {
  background-image: url("img/cafe.jpg");
}

.parallax-bg h2 {
  color: white;
  font-size: 4.5em;
  letter-spacing: 2px;

  text-shadow:
    3px 3px var(--shadow-width)  var(--shadow-color), 
    -3px -3px var(--shadow-width) var(--shadow-color),
    -3px 3px var(--shadow-width)  var(--shadow-color), 
    3px -3px var(--shadow-width)  var(--shadow-color),
    3px 0px var(--shadow-width)  var(--shadow-color), 
    -3px -0px var(--shadow-width)  var(--shadow-color),
    0px 3px var(--shadow-width)  var(--shadow-color), 
    0px -3px var(--shadow-width)  var(--shadow-color);
}


h3 {
  font-size: 40px;
  display: inline-block;
  border-bottom: 5px solid #E03131;
  padding-top: 30px;
  margin-bottom: 1em;
  padding-bottom: 12px;
}

/* ************************
// menu
************************ */


.menu-parent {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.coffee-menu {
  border-right: 1px solid black;
}

.menus {
  width: 50%;
  /* background: pink; */
  padding: 0 40px 30px;
}

.menu-title {
  text-align: center;
}

.menu-parent dl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* background: skyblue; */
}

.menu-parent dt, .menu-parent dd {
  font-size: 13px;
}

.menu-parent dt {
  margin-top: 24px;
  width: 85%;
  /* background: red; */
  border-bottom: 1px dotted #000;
}

.menu-parent dd {
  text-align: right;
  margin-top: 24px;
  width: 15%;
  /* background: greenyellow; */
}

.food-menu {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
}

.other-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
}



/* ************************
// about
************************ */
.about-img-wrapper {
  margin-top: 170px;
}

.about-wrapper {
  max-width: 940px;
  /* background: skyblue; */
  margin: 0 auto;
}

.about-text-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 30px 0;

}

.about-text {
  width: 48%;
  margin-bottom: 40px;
}

.about-text p {
  font-size: 14px;
  line-height: 1.8;
}

.button-wrapper {
  text-align: center;
}


/* ************************
// location
************************ */
.ourstore-container {
  margin: 0 16px;
  text-align: center;
}

.google-map iframe {
  margin-top: 66px;
  margin-bottom: 15px;
  max-width: 960px;
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
}

.location-info {
  width: 800px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.location-info p:nth-of-type(2n) {
  margin-bottom: 15px;
}

.location-info p {
  font-size: 14px;
  margin-top: 7px;
}

/* ************************
// ----footer----
************************ */
footer {
  margin-top: 200px;
  text-align: center;
}

footer small {
  display: block;
  font-size: 6px;
  margin: 15px 0;
}